.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ui.input {
  margin: 10px;
}

.mainHeader {
  margin: 0 0 8vh 0;
  text-align: center;
}

.mainHeader h1 {
  font-size: 3rem;
}

.footer {
  margin: 10vh 0 10vh 0;
}


